.bg-yellow{
    background-color: #fed766  !important;
}
.bg-red{
    background-color: #fe4a49 !important;
}
.bg-sky-blue{
    background-color: #2ab7ca  !important;
}
.bg-pink{
    background-color: #f6abb6  !important;
}
.bg-dark-pink{
    background-color: #851e3e  !important;
}