#navbarCollapse ul .main-menu a{
    color:#5fd0a5 !important;
    font-size: 17px;
}
.page-header .navbar ul.navbar-nav > li > a > i:only-child {
    line-height: 23px !important;
}
.nav-border-primary {
    border-color: #5fd0a5 !important;
}
