<div class="container mt-5 pt-3">
  <div class="jumbotron p-3 p-md-5 text-white rounded bg-success">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Organic Farming</h1>
      <p class="lead my-3">Organic farming is a production system which avoids or largely excludes the use of
        synthetically compounded fertilizers, pesticides, growth regulators, genetically modified organisms and
        livestock food additives.</p>
      <p class="lead mb-0">
        <!-- <a href="#" class="text-white font-weight-bold">Continue reading...</a> -->
      </p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-primary">Organic Cardamom</strong>
          <h3 class="mb-0">
            <a class="text-dark" href="#">What is Cardamom?</a>
          </h3>
          <div class="mb-1 text-muted">Aug 12</div>
          <p class="card-text mb-auto">Cardamom is known as the "Queen of spices". It has a strong, unique taste, with
            an intensely
            aromatic fragrance. Green cardamom is one of the most expensive spices by weight but little is needed to
            make the flavour.</p>
          <!-- <a href="#">Continue reading</a> -->
        </div>
        <img class="card-img-right flex-auto d-none d-md-block" src="assets/images/pic1.jpg" alt="Card image cap"
          width="200" height="250">
      </div>
    </div>
    <div class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2 text-success">Organic Cardamom</strong>
          <h3 class="mb-0">
            <a class="text-dark" href="#">What goes well with Cardamom?</a>
          </h3>
          <div class="mb-1 text-muted">Aug 11</div>
          <p class="card-text mb-auto">When it comes to pastries and baked goods, green cardamom plays an essential role
            in Nordic cuisine, where it is added to various types of biscuits, bread, and pies.</p>
          <!-- <a href="#">Continue reading</a> -->
        </div>
        <img class="card-img-right flex-auto d-none d-md-block" src="assets/images/pic1.jpg" alt="Card image cap"
          width="200" height="250">
      </div>
    </div>
  </div>
</div>

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h3 class="pb-3 mb-4 font-italic border-bottom">
        From the highranges of Kerala
      </h3>

      <div class="blog-post">
        <h2 class="blog-post-title">Idukki Special Organic Cardamom</h2>
        <p class="blog-post-meta">August 1, 2022 by <a href="javascript:void(0);">Akhil VB</a></p>

        <p>The cardamom (elettaria cardamomum) is an essential ingredient in South-East Asian cooking. There are
          essentially
          two types of cardamom: green cardamom and black cardamom..</p>
        <hr>
        <p>In terms of <a href="javascript:void(0);">Ayurveda</a>, cardamom is also considered tridoshic, meaning it has
          a balancing effect on the <a href="javascript:void(0);">vata</a>
          (energy of air, space and movement), <a href="javascript:void(0);">pitta</a> (energy of fire, digestion and
          metabolism), and <a href="javascript:void(0);">kapha</a> (energy of
          water, earth and lubrication) doshas (or energies).</p>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="420" height="315" src="https://www.youtube.com/embed/8uDCvXPyf3o">
          </iframe>
        </div>
        <blockquote>
          <p>Cardamom is a spice made from the seed pods of the cardamom plant, a herbaceous perennial plant in the
            <strong>ginger</strong> family.
          </p>
        </blockquote>
        <p>Similar to the ginger family, cardamom is native to India but widespread worldwide. Its flavour combines
          perfectly with citrus fruits, vanilla, meat and savoury recipes. The seasoning is highly nutritious as it is a
          <em>good source of vitamins and fibres</em>, so it is excellent for intestinal function. It has
          anti-inflammatory and
          astringent properties that benefit our body. Thus, every 100 grams of the condiment provides 300 calories.
          Additionally, the organic variant is even better due to an inherent lack of harmful chemicals and additives.
        </p>
        <h2>Cardamom Benefits:</h2>
        <p>Cardamom spice is one of the most exotic and aromatic spices, which are commonly used in sweet dishes. Also
          known as eletulia, cardamom are round, small pods with a brown shell enclosing a bright green to blue colored
          seed pod. Cardamom has been extensively used for centuries in Southern Asian cuisine, especially in many
          Indian curries, chutneys, and desserts. Cardamom is commonly called or referred to as "elaichi" in Hindi,
          which literally translates to "beautiful" in Sanskrit.</p>
        <p>Local names of cardamom in india: Elakulu[యేలకులు] (Telugu), &nbsp;Elakka [ஏலக்காய்] (Tamil),&nbsp;
          Elakki&nbsp;[ಏಲಕ್ಕಿ] (Kannada),
          &nbsp;Elakkay [ഏലക്കായ്] (Malayalam), &nbsp;&nbsp;Ilaychi&nbsp;[इलायची] (Hindi), &nbsp;Velchi
          [वेलची]&nbsp;(Marathi), &nbsp;Elachi&nbsp;[এলাচি] (Bengali).</p>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="420" height="315" src="https://www.youtube.com/embed/qnzslkuH1LI">
          </iframe>
        </div>
        <h3>Green Cardamom Uses:</h3>
        <p>This green cardamom is cardamom in its whole, pod form. The whole cardamom pod can be used to flavor dishes
          and plucked out after cooking. Once green cardamom pods are toasted, it is recommended to open the pods and
          remove the seeds. The seeds can then be used either whole or ground and used for cooking. The empty pods can
          then be used to add flavor to liquids like tea and broth when steeped. Cardamom is a very versatile spice that
          is used in both sweet and savory dishes. It’s often used in sweeter baked goods in the Netherlands and
          Scandinavia. As noted, cardamom is common in Indian spice mixtures such as curries. It pairs nicely with
          meats, fish and vegetables, and can add flavor to coffees and teas.</p>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="420" height="315" src="https://www.youtube.com/embed/FfkrQEhPg1A">
          </iframe>
        </div>
        <h3>Where to use cardamom?</h3>
        <p>Cardamom is widely used in several ways. It is added in several Indian sweets and also in drinks, such as
          teas. It can be used in savoury dishes and combines very well with fruits such as mango, apple and pear. In
          Scandinavia, it is used in cakes, cookies and pies. It is also an ingredient in several mixtures of Arab and
          Indian spices. It can be used in marinades for meat and chicken and is also a great flavour for rice. It can
          be used whole or ground, as well as crushed and toasted with some oil before being added to the recipe.</p>
        <ul>
          <li>One of the potent elaichi benefits is that it has antioxidant and anti-inflammatory action.</li>
          <li>Good for improving digestion.</li>
          <li>It is an aphrodisiac.</li>
        </ul>
        <p>It is highly recommended to include it in your daily diet. Also, buy the organic variety of cardamom as they
          have no chemicals and are 100% natural.</p>
        <ol>
          <li>Helps to lower blood pressure.</li>
          <li>Fights asthma.</li>
          <li>Relieves acidity.</li>
          <li>Beats bad breadth.</li>
          <li>Preventing blood clots.</li>
        </ol>
        <p>Elaichi/Cardamom is highly rich in manganese, iron, fibre, calcium, potassium, phosphorus, sulfur, magnesium,
          vitamin C, vitamin A, zinc, riboflavin, etc.</p>
      </div><!-- /.blog-post -->

      <div class="blog-post">
        <h2 class="blog-post-title">Not just any Cardamom but Organic Authentic Cardomom</h2>
        <p class="blog-post-meta">August 14, 2022 by <a href="javascript:void(0);">Akhl VB</a></p>

        <p>We are offering not just any Cardamom but Organic Authentic Cardomom or <a
            href="javascript:void(0);">Elaichi</a>.</p>
        <blockquote>
          <p>The <strong>smell and taste</strong> of Organic Food are so rich. Especially that of cardamom are unique.
            Spicy and minty
            both at the same time, Elaichi pods are used extensively in Indian cooking. Our green cardamom or elaichi
            pods are all you need for the next time you make <strong>Payasam</strong>. A small pinch goes along when it
            comes to cardamom.
          </p>
        </blockquote>
        <p>Cardamom plants start bearing two or three years after planting suckers or seedlings, respectively. The
          capsules ripen within a period of 120-135 days after its formation. Harvesting period commences from June-July
          and continues till January-February in Kerala and Tamil Nadu..</p>
      </div><!-- /.blog-post -->

      <div class="blog-post">
        <h2 class="blog-post-title">Organic cultivation of cardamom</h2>
        <p class="blog-post-meta">August 10, 2022 by <a href="javascript:void(0);">Akhl VB</a></p>
        <p>In organic cultivation of cardamom, the methods to be followed should conform to the standards laid down for
          the purpose.</p>
        <ul>
          <li><strong>Manuring</strong> - Application of organic manures such as neem cake @ 1 kg or poultry
            manure/farmyard manure/compost/vermicompost @ 2kg per plant may be done once in a year during May-June.
            Application of Mussorie rock phosphate or bone meal may be done, if found necessary, based on soil analysis.
          </li>
          <li><strong>Diseases</strong> - The major fungal diseases affecting cardamom are azhukal (Phytophthora medii)
            and clump rot (Pythium vexans, Rhizoctonia solani and Fusarium sp.). Incorporation of Trichoderma multiplied
            in suitable organic medium in the plant base (1 kg per clump) prior to the onset of monsoon season (May) is
            a prophylactic operation for clump rot disease. Use of Bordeaux mixture 1 % when found necessary may be
            resorted to. Regular rouging of virus affected plants should be made to reduce the spread. Rouged plants
            should be destroyed by burning.</li>
          <li><strong>Bacterial and fungal biofertilizers</strong> - Bacterial and fungal biofertilizers are used as a
            component for our organic farming in different crops.</li>
          <li><strong>Inspect pest management</strong> - The main strategy to combat harmful pests is to build up a
            population of beneficial insects, whose larvae feed off the eggs of pests.</li>
          <li><strong>Weed management</strong> - In our organic farming, chemical herbicides are not using so only
            manual weeding.</li>
        </ul>
        <p>Usually, the cardamom plant requires 35 to 40 months to produce capsules containing seeds.</p>
        <p>Cardamom is difficult to grow in all climatic conditions as it requires the tropical, hot and humid
          agro-climatic conditions.</p>
        <p><strong>Organic Cardamom Cultivation is rare and done by few people and we are one among them</strong>. Our cardamom
          plantation has adequate shade and micro sprinkler irrigation for each plant to maintain the optimal
          temperature.</p>
        <p>Our Spices are hygienically stored and carefully packed to retain quality and aroma. They are rich in flavor
          and known for its culinary use.</p>
      </div><!-- /.blog-post -->

      <nav class="blog-pagination">
        <a class="btn btn-outline-primary disabled" href="#">Older</a>
        <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
      </nav>

    </div><!-- /.blog-main -->

    <aside class="col-md-4 blog-sidebar">
      <div class="p-3 mb-3 bg-light rounded">
        <h4 class="font-italic">About</h4>
        <p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet
          fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
      </div>

      <div class="p-3">
        <!-- <h4 class="font-italic">Archives</h4>
          <ol class="list-unstyled mb-0">
            <li><a href="#">March 2014</a></li>
            <li><a href="#">February 2014</a></li>
            <li><a href="#">January 2014</a></li>
            <li><a href="#">December 2013</a></li>
            <li><a href="#">November 2013</a></li>
            <li><a href="#">October 2013</a></li>
            <li><a href="#">September 2013</a></li>
            <li><a href="#">August 2013</a></li>
            <li><a href="#">July 2013</a></li>
            <li><a href="#">June 2013</a></li>
            <li><a href="#">May 2013</a></li>
            <li><a href="#">April 2013</a></li>
          </ol> -->
      </div>

      <div class="p-3">
        <!-- <h4 class="font-italic">Elsewhere</h4>
          <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
          </ol> -->
      </div>
    </aside><!-- /.blog-sidebar -->

  </div><!-- /.row -->

</main><!-- /.container -->