#carouselExampleIndicators {
    margin-top: 7.5em !important;
}
#quality-report-img{
    max-height: 323px !important;
}
@media (max-width:1200px) {
    #carouselExampleIndicators{
        margin-top: 1em !important;
    }
}
@media (max-width:991px) {
    #carouselExampleIndicators{
        margin-top: 1em !important;
    }
}
@media (max-width:767px) {
    #carouselExampleIndicators{
        margin-top: 1em !important;
    }
    #carouselExampleIndicators img.d-block.w-100 {
        height: 277px !important;
    }
}
.bg-yellow{
    background-color: #fed766  !important;
}
.bg-red{
    background-color: #fe4a49 !important;
}
.bg-sky-blue{
    background-color: #2ab7ca  !important;
}
.bg-pink{
    background-color: #f6abb6  !important;
}
.bg-dark-pink{
    background-color: #851e3e  !important;
}


